@model Gombka.pl.Models.ChannelViewModel

<div class="pt-3">

<h3>Kanał użytkownika @Model.User.UserName</h3>


@if (Model.Videos.Count() > 0)
{
    <section class="user-videos">
    @foreach (var video in Model.Videos)
    {
        <div class="video-item">
            <div class="video-thumbnail">
                <a asp-controller="Videos" asp-action="Watch" asp-route-id="@video.Id">
                    <img src="/videos/thumbnail/@video.Id" />
                </a>
            </div>
            <div class="video-info">
                <a asp-controller="Videos" asp-action="Watch" asp-route-id="@video.Id">
                    <div class="video-title">
                        <strong>@video.Title</strong>
                    </div>
                </a>
                <div class="video-description">
                    <p>@video.Description</p>
                </div>
            </div>
        </div>
    }
    </section>
} 
else
{
    <p>Ten kanał aktualnie nie posiada filmów wideo</p>
}

</div>